#all_projects .all_projects {
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    background-color: #3dca99;
    margin-top: 40px;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 40%;
    height: 46px;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    line-height: 46px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}
.project_type.develop {
    background-image: url(./develop_b5b88c2.jpg);
}

.project_type {
    position: relative;
    padding-top: 32px;
    height: 98px;
    #border-top-left-radius: 3px;
    #border-top-right-radius: 3px;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}
.project_item {
    height: 200px;
}
.project_item_image {
    max-width: 100%;
    max-height: 200px;
}
.project_detail_image {
    max-width: 100%;
    height: auto;
    padding: 10px;
}
.footer {
    margin-bottom: 100px;
}
.project_name {
    width: 100%;
    min-width: 1200px;
    margin: 0 auto;
    line-height: 166px;
    background-size: cover;
    color: #fff;
    text-align: center;
    font-size: 36px;
}
.baseInfo #link a {
    color: #ed7266;
}
.baseInfo #link a:hover {
    color: #3dca99;
}
#project_notes{height:166px;width:100%;min-width:1200px;margin:0 auto;background:url(./top-bg_3381f48.jpg) no-repeat center top;background-size:cover}#project_notes .notes_bar{width:1200px;margin:-25px auto;line-height:24px}#project_notes a,#project_notes i{float:left}#project_notes i{display:block;width:7px;height:13px;margin:6px 10px;background:url(./icon-next_db61e1e.png) no-repeat}#project_notes .over{font-size:16px;color:#3dca99;font-weight:700}#project_notes .will_attain{color:#fff;cursor:text}#project_notes a.will_attain{font-size:14px;opacity:.6}